#{extends 'main.html' /}
#{set title:'Nega Biju' /}


<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/avaliacao.css'}">


<div class="container">
        <div class="title-container">
            <h1 class="page-title">Avaliações de Clientes</h1>
        </div>
		
		#{list items:avaliacao, as:'item'}
        <div class="reviews-list">
            <div class="review-card">
                <div class="review-content">
                    <h3 class="review-author"><i class='bx bxs-user-circle'></i>${item.usuario}</h3>
                    <p class="review-text">${item.mensagem}</p>
                </div>
                <div class="review-actions">
                    <a href="@{Compras.editaravaliacao(item.id)}" class="btn-edit" title="Editar"><i class='bx bxs-edit'></i></a>
                    <a href="@{Compras.deletar(item.id)}" class="btn-delete" title="Excluir"><i class='bx bxs-trash'></i></a>
                </div>
           
            </div>

            
  #{/list}
            </div>
    </div>

	
